<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/layui.css">
</head>
<body>
<div style="width:500px;height: 400px;margin: 20px auto;">
    <form class="layui-form" action="/add2" methods="POST">
        <div class="layui-form-item">
            <label class="layui-form-label">name</label>
            <div class="layui-input-block">
                <input type="text" name="name" required lay-verify="required" placeholder="please enter the name"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">department</label>
            <div class="layui-input-block">
                <input type="text" name="department" required lay-verify="required" placeholder="please enter the department"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">position</label>
            <div class="layui-input-block">
                <input type="text" name="position" required lay-verify="required" placeholder="please enter the position"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">salary</label>
            <div class="layui-input-block">
                <input type="text" name="salary" required lay-verify="required" placeholder="please enter the salary"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit lay-filter="formDemo">Тапсыру</button>
                    <button type="reset" class="layui-btn layui-btn-primary">Қайтадан көру</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="/static/layui.js"></script>
<script>
    //Demo
    layui.use('form', function () {
        var form = layui.form;
    })

</script>
</body>
</html>